@media screen {
  body.is-slide-route {
    overflow: hidden;
  }

  :root {
    --slide-w: 1122px;
    --slide-h: 793px;
  }

  .slide-stage {
    height: calc(var(--vvh, 100vh) - var(--app-header-h, 0px));
    min-height: calc(var(--vvh, 100vh) - var(--app-header-h, 0px));
    padding-top: max(0px, var(--vv-top, 0px));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    box-sizing: border-box;
  }

  .slide-board {
    width: var(--slide-w);
    height: var(--slide-h);
    transform-origin: center center;
    overflow: hidden;
  }
}

@media print {
  .slide-stage {
    height: auto;
    min-height: auto;
    padding: 0;
    overflow: visible;
  }

  .slide-board {
    transform: none !important;
  }
}
