@media screen {
  body.is-slide-route {
    overflow: hidden;
  }

  .slide-canvas {
    position: relative;
    height: calc(var(--vvh, 100vh) - var(--app-header-h, 0px));
    min-height: calc(var(--vvh, 100vh) - var(--app-header-h, 0px));
    padding-top: max(0px, var(--vv-top, 0px));
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 24px 24px 16px;
    width: 100%;
    box-sizing: border-box;
  }

  .slide-board {
    width: 1122px;
    height: 793px;
    transform-origin: center center;
    overflow: hidden;
  }
}

@supports (height: 100dvh) {
  @media screen {
    .slide-canvas {
      height: calc(100dvh - var(--app-header-h, 0px));
      min-height: calc(100dvh - var(--app-header-h, 0px));
    }
  }
}

@media print {
  .slide-canvas {
    height: auto;
    min-height: auto;
    overflow: visible;
    padding: 0;
  }

  .slide-board {
    transform: none !important;
  }
}
